In [1]:
import pandas as pd

In [2]:
mv = pd.read_csv('titles.csv')
mv

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
5                                Tight Spot  1955
6                            Chocolate (II)  2011
7                          Wang de Shengyan  2012
8                           Bao dao mei ren  1956
9                       A Man Called Nereus  2012
10                            Parfait amour  1985
11                          American Idiots  2013
12                           Wu shan yun yu  1996
13                                  Big Boy  1930
14                          Come On, Tarzan  1932
15                    El juego de la verdad  1963
16                          Lotte in Weimar  1975
17                                    Alexa  1989
18                     Ada... A Way of Life  2010
19                        One Night of Love  1934
20                            Shenmi zhi ye  1937
21                   The Incredible Journey  1963
22                                  Isadora  1968
23                          Swamp Zombies 2  2018
24                                   Bernie  2018
25                         Viva el chubasco  1983
26                            Okey si ma'am  1995
27                                  Khaleja  2010
28                         Sin sangre nunca  2012
29                            Chandni Chowk  1946
...                                     ...   ...
244884                Evropeyskaya istoriya  1984
244885                                Tribe  2011
244886             Corky and Bob Get a Job!  2017
244887                           Moonwalker  1988
244888                           Navy Blues  1937
244889                             The Fool  1990
244890                   The Lady in Ermine  1927
244891                      Izdirap sarkisi  1969
244892                                Mouni  2003
244893                                 Limo  2009
244894                     Untitled Project  2019
244895                            18 Vayasu  2012
244896                        Tire au flanc  1933
244897                          Submergence  2017
244898                 'Blue Blazes' Rawden  1918
244899                         Blood Kisses  2012
244900      Box Office 3D: Il film dei film  2011
244901              Awesome Killer Audition  2012
244902                El baile de la iguana  2005
244903                          Undone (II)  2013
244904                               Satori  2015
244905                            Siegfried  2005
244906          Como el perro del hortelano  1920
244907                            Fatal Sky  1990
244908         La bataille de San Sebastian  1968
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [3]:
mv.isna().sum()

title    0
year     0
dtype: int64

In [4]:
mv.duplicated().sum()

0

### How many movies are listed in the titles dataframe?

In [5]:
len(mv["title"])

244914

### What are the earliest two films listed in the titles dataframe?

In [6]:
mv.sort_values(by="year").head(10)

                                                    title  year
193222                                         Miss Jerry  1894
51388                                  The Startled Lover  1898
4584       Reproduction of the Corbett and Jeffries Fight  1899
219198                                     May Day Parade  1900
47548   Pierrot's Problem, or How to Make a Fat Wife O...  1900
78564                            Trouble in Hogan's Alley  1900
108586                               Family Troubles (II)  1900
182177                              Soldiers of the Cross  1900
6692                                          The Divorce  1903
140381                                            Valsons  1905

### How many movies have the title "Hamlet"?

In [7]:
len(mv[mv["title"]=="Hamlet"])

20

### How many movies are titled "North by Northwest"?

In [8]:
len(mv[mv["title"]=="North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [9]:
a=mv[mv["title"]=="Hamlet"]
a.sort_values(by="year").head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
mv[mv["title"]=="Treasure Island"].head(20)

                  title  year
27076   Treasure Island  1999
37238   Treasure Island  1973
55686   Treasure Island  1918
65051   Treasure Island  1972
77354   Treasure Island  1950
141822  Treasure Island  1934
173051  Treasure Island  1985
196514  Treasure Island  1920

### How many movies were made in the year 1950?

In [11]:
len(mv[mv["year"]==1950])

1113

### How many movies were made in the year 1960?

In [12]:
len(mv[mv["year"]==1960])

1549

### How many movies were made from 1950 through 1959?

In [13]:
len(mv[mv["year"]>=1950])-len(mv[mv["year"]<=1959])

162018

### In what years has a movie titled "Batman" been released?

In [14]:
mv[mv["title"]== "Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

In [15]:
d = pd.read_csv('cast.csv')
d

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
22,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
23,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
24,The LXD: The Secrets of the Ra,2011,Dondraico 'Draico' Johnson,actor,Umbra,NaN
25,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0
26,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0
27,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0
28,Los tarantos,1963,'El Viti',actor,Cantaor,20.0
29,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,25.0
...,...,...,...,...,...,...
3786146,The Sky Has Fallen,2009,Preity ?pala,actress,Skylar,NaN
3786147,Virsa,2010,Preity ?pala,actress,Prema,NaN
3786148,K (II),2015,?rchaihu,actress,Castle Inn Singer 2,NaN
3786149,Dondurmam Gaymak,2005,T?nay ?rper,actress,Seller,NaN
3786150,Halam Geldi,2013,Nesrin ?stkanat,actress,Melek,NaN
3786151,Musallat,2007,Serap ?st?n,actress,Zeynep,NaN
3786152,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN
3786153,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3786154,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3786155,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3786156,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3786157,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3786158,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3786159,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3786160,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3786161,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3786162,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3786163,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3786164,Eden,2018,Steinunn ?l?na ?orsteinsd?ttir,actress,M??ir Viggu,8.0
3786165,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3786166,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3786167,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3786168,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3786169,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3786170,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3786171,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3786172,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3786173,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3786174,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3786175,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many roles were there in the movie "Inception"?

In [16]:
len(d[d["title"]== "Inception"])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:
d1=d[d["title"]== "Inception"]
len(d1[d1["n"].isnull()])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
d1=d[d["title"]== "Inception"]
len(d1)-len(d1[d1["n"].isnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
d1=d[(d["title"]=="North by Northwest")]
d1=d1.dropna()
d1.sort_values(by="n")

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
d1=d[(d["year"]==1972)&(d["title"]=="Sleuth")]
d1.sort_values(by="n")

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
d1=d[(d["year"]==2007)&(d["title"]=="Sleuth")]
d1.sort_values(by="n")

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
len(d[(d["title"]=="Hamlet")&(d["year"]==1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [23]:
d[(d["title"]=="Hamlet")&(d["year"]==1996)&(d["name"]=="Kenneth Branagh")]["n"]

260225    5.0
Name: n, dtype: float64

### How many "Hamlet" roles have been listed in all film credits through history?

In [24]:
len(d[d["character"]=="Hamlet"])

96

### How many people have played an "Ophelia"?

In [25]:
len(d[d["character"]=="Ophelia"])

117

### How many people have played a role called "The Dude"?

In [26]:
len(d[d["character"]=="The Dude"])

19

### How many people have played a role called "The Stranger"?

In [27]:
len(d[d["character"]=="The Stranger"])

212

### How many roles has Sidney Poitier played throughout his career?

In [28]:
len(d[d["name"]=="Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [32]:
len(d[d["name"]=="Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
d1=d[d["year"]>=1940]
d1=d1[d1["year"]<=1949]
d1=d1.sort_values(by="year")
d1[(d1["name"]=="Cary Grant") & (d1["n"]==2)]

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [ ]:
d1=d[d["year"]>=1940]
d1=d1[d1["year"]<=1949]
d1=d1.sort_values(by="year")
d1=d1[d1["name"]=="Cary Grant"]
d1.dropna()

### How many roles were available for actors in the 1950s?

In [ ]:
d1=d[d["year"]>=1950]
d1=d1[d1["year"]<1960]
len(d1[d1["type"]=="actor"])

### How many roles were available for actresses in the 1950s?

In [ ]:
d1=d[d["year"]>=1950]
d1=d1[d1["year"]<1960]
len(d1[d1["type"]=="actress"])

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
len(d[d["n"]==1])

### How many non-leading roles were available through from the beginning of film history through 1980?

In [30]:
len(d[d["n"].isnull()])

1458573

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [31]:
d1=d[d["year"]==1980]
len(d1[d1["n"].isnull()])

4466